extends layout

block content
	nav.navbar.navbar-expand-sm.bg-dark.navbar-dark
		a.navbar-brand(href='#') Twitter Query Processor
		button.navbar-toggler(type='button' data-toggle='collapse' data-target='#collapsibleNavbar')
			span.navbar-toggler-icon
		#collapsibleNavbar.collapse.navbar-collapse
			ul.navbar-nav
				li.nav-item
					a.nav-link(href='/') Home

	.container
		h1 Hash Tag Querier 
		form#twitter-query(method='post', action='javascript:sendFormContent()')
			.form-group
				.row
					.col-md-10
						input.form-control(type='text' name='keyword' id='keyword' placeholder='#Insert Hashtag Query')
					.col-md-2
						button.btn.btn-default(id='sub' name='sumbitDetails' class='' value='Search') Search
		.tags
			h5 Trending Tags:
			.popular-tags-container
				.row
					.col-md-12
						table#trending-tags
		.row
			.results.col-md-10
				h5 Live Twitter Feed:
				.results-container
					table#twitter-results.table.table-dark.table-striped
			.overall.col-md-2
				h5#overall-feeling-header Overall Feeling:
				.overall-feeling-container
					table#overall-feeling
						tr
							td 😑
				h6 Total Tweets Analysed:
				p#tweet-counter 0

	script(src="https://code.jquery.com/jquery-3.1.1.min.js")
	script(src='/javascripts/twitter.js')
//- // Optional JavaScript
//- // jQuery first, then Popper.js, then Bootstrap JS
//- script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
//- script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js' integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49' crossorigin='anonymous')
//- script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js' integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy' crossorigin='anonymous')
